.App {
  background-color: var(--bg);
  margin: 1rem 0rem;
  display: grid;
}

.content {
  .container {
    .top_level {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .search {
        input {
          background-image: url("../assets/search.svg");
          background-repeat: no-repeat;
          background-position: 10px 10px;
          padding: 0.6rem 0.2rem 0.6rem 1.9rem;
          border: 0px solid;
          background-color: transparent;
          border: 0.8px solid rgb(64, 64, 64);
          border-radius: 0.5rem;
          width: 60vw;
        }
      }
    }

    main {
      display: grid;
      gap: 1.5rem;
      align-items: center;

      section {
        background-color: var(--bg-accent);
        border-radius: 0.5rem;
      }

      .leaders-and-coins {
        section {
          background-color: var(--bg-accent);
          border-radius: 0.5rem;
          // width: 55vw;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .App {
    grid-template-columns: 7vw 87vw;
  }

  .sidebar {
    display: grid;
    place-items: center;

    > div {
      height: 100%;
    }
  }

  .content {
    margin-left: 2rem;
    .container {
      .top_level {
        .mobile {
          display: none;
        }
      }

      main {
        display: flex;

        .leaders-and-coins {
          section {
            width: 55vw;
          }
        }
      }
    }
  }
}
