.all_coins {
  margin-top: 1rem;
  padding: 0.2rem 1.2rem 1rem 1.2rem;

  h1 {
    font-size: 1.5rem;
  }

  .coins_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    overflow-x: hidden;
    height: 10rem;
  }

  .coin {
    background-color: var(--purple);
    width: -webkit-fit-content;
    // padding: 0.2rem 0.3rem;
    width: 6rem;
    border-radius: 0.4rem;
    text-align: center;
    transition: -webkit-transform 350ms;
    transition: border-radius 350ms, -webkit-transform 350ms;
    transition: border-radius 350ms, transform 350ms;
    transition: border-radius 350ms, transform 350ms, -webkit-transform 350ms;
    transition: transform 350ms, -webkit-transform 350ms;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);

    &:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      background-color: var(--purple-darker);
      border-radius: 0rem;
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: rgb(220, 219, 219);
      }
    }

    p {
      margin: 0;
    }

    p:last-child {
      margin-top: 0.3rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .all_coins {
    .coins_list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
